*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	background:url('../images/bg.jpg') no-repeat 0% 82% fixed;
    background-size: cover;
	font-family: 'Nunito', sans-serif;
	text-align:center;
}

form {
  background: rgba(256, 256, 256, 0.55);
  width: auto;
  margin-top: 115px;
  margin-right: 215px;
  margin-left: 415px ;
  padding: 10px 20px;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],

input[type="email"],

select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 30%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}
select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

#box {
	width: 82%;
	height: inherit;
	border-radius: 8px;
	margin-top: 25px;
	
}
#tables{
	border: 0px solid black;
	margin-left: 27px;
	margin-top: -5px;
	
}
#boxtd{
	border: 0px solid black;
	text-align: center;
	padding-bottom: 0px;
	
}



button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 7px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: auto;
  width: auto;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  margin-top: 6px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 6px;
  padding-left: 6px;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}